/com.Dramora9879.mods.code-workspace
/.luarc.json
/shared
/.vscode
/Subnautica 2/com.Dramora9879.mods/.vscode
/Subnautica 2/com.Dramora9879.mods/shared
/Subnautica 2/com.Dramora9879.mods/.luarc.json
/Subnautica 2/com.Dramora9879.mods/com.Dramora9879.mods.code-workspace
/.vs/Multi-Game-Mod-Repository.slnx
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json